<% if @order.state == 'complete' and item.variant.subscribable? %>
    <div data-hook='subscription-token'>
      <% if subscription_for_order @order %>
        <p>This subscription has <em><%= pluralize(item.quantity, 'seat') %></em></p>
        <p>It will expire on <strong><%= subscription.end_datetime%></strong></p>
        <p>In order to activate any other seats in this subscription, please share this token.</p>
        <pre><%=subscription.token%></pre>
      <% end %>

    </div>
<% end %>
